<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muchlis.inventaris">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.activity.check.CheckListActivity"></activity>
        <activity android:name=".views.activity.history.EditHistoryActivity" />
        <activity
            android:name=".views.activity.handheld.EditHandheldActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.handheld.HandheldDetailActivity" />
        <activity
            android:name=".views.activity.handheld.AppendHandheldActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.handheld.HandheldsActivity" />
        <activity
            android:name=".views.activity.pelindo_apps_history.EditPelindoAppsHistoryActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".views.activity.pelindo_apps_history.AppendPelindoAppsHistoryActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.pelindo_apps_history.PelindoAppsHistoryListActivity" />
        <activity android:name=".views.activity.history.AppendDailyActivity" />
        <activity android:name=".views.activity.history.HistoryListActivity" />
        <activity
            android:name=".views.activity.cctv.EditCctvActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".views.activity.cctv.AppendCctvActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.cctv.CctvDetailActivity" />
        <activity android:name=".views.activity.cctv.CctvsActivity" />
        <activity
            android:name=".views.activity.stock.EditStockActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".views.activity.stock.AppendStockActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".views.activity.stock.StockUseActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.stock.StockDetailActivity" />
        <activity android:name=".views.activity.stock.StocksActivity" />
        <activity
            android:name=".views.activity.computer.EditComputerActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".views.activity.computer.AppendComputerActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".views.activity.history.AppendHistoryActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.computer.ComputerDetailActivity" />
        <activity android:name=".views.activity.computer.ComputersActivity" />
        <activity android:name=".views.activity.dashboard.DashboardActivity" />
        <activity
            android:name=".views.activity.login.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".views.activity.MainEmptyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>